<p>LifeGrinder is a way for mundane tasks to become epic feats of hyperbole!</p>
<p>But really, it's just a fun way of getting stuff done.</p>
<a href="/sign_up">create an account</a> or <a href="/sign_in">sign in with Twitter</a>
